#Node files and lock files
node_modules
package-lock.json
yarn.lock

#ignoring SQLite database file
database.sqlite

#ignoring mobile files
node_modules/**/*
.expo/*
.expo*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store
